@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  @apply h-full;
}

html,
body {
  @apply bg-black text-white font-opensans font-medium;
}

.gradient-text {
  @apply bg-gradient-to-r from-primary via-secondary to-tertiary inline-block text-transparent bg-clip-text;
}

.gradient-bg {
  @apply bg-gradient-to-r from-primary via-secondary to-tertiary;
}
